.photoContainer {
  position: relative;
}

.noPhoto {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 200px;
}

.agent {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  opacity: 0.7;
}

.mainPhoto {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.share {
  position: absolute;
  right: 10px;
  top: 10px;
}
